
<!-- Acerca de mi -->
<section class="about full-screen d-lg-flex justify-content-center
  align-items-center">
  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-md-12 col-12 d-flex align-items-center">
        <div class="about-text">
          <small class="small-text">{{miPorfolio.welcome}} <span
              class="mobile-block">{{miPorfolio.website}}</span></small>
          <h1 class="animated animated-text">
            <span class="mr-2">{{miPorfolio.hello}}</span>
            <div class="animated-info">
              <span class="animated-item">{{miPorfolio.name}}</span>
              <span class="animated-item">{{miPorfolio.positionOne}}</span>
              <span class="animated-item">{{miPorfolio.positionTwo}}</span>
            </div>
          </h1>
          <div>
            <br>
            <p>{{miPorfolio.text}} </p>
          </div>

          <div class="custom-btn-group mt-4">
            <a
              href="https://drive.google.com/file/d/1eYPjKMsYN60wUDw6yKpYsOFhjmUSUxmd/view?usp=sharing"
              class="btn mr-lg-2 custom-btn" target="_blank"><i class='uil
                uil-file-alt'></i> Descargar CV</a>
            <a href="#contact" class="btn custom-btn custom-btn-bg
              custom-btn-link">Contacto</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 col-12">
        <div class="about-image svg">
          <img
            [src]="miPorfolio.image"
            class="img-fluid" alt="svg image">
        </div>
      </div>

    </div>
  </div>
</section>

<section class="about mx-auto" id="about">
  <div class="container">
    <h3>Acerca de mi</h3>
    <br>
    <p class="text-justify"> {{miPorfolio.description}} </p>
  </div>
</section>