<!-- Contacto -->
<section class="contact py-5" id="contact">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-12">
        <div class="imagen-icons">
          <img src="../assets/img/img1.jpg"
            class="img-fluid" alt="svg image">
        </div>

        <div class="container-icons">

          <a href="
            https://www.linkedin.com/in/alejandro-p%C3%A9rez-641a07127/"
            class="social-links" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
          </a>

          <a href=" https://github.com/ajmpc24" class="social-links"
            target="_blank">
            <i class="fa-brands fa-github"></i>
          </a>

          <a href="https://discord.com/app" class="social-links"
            target="_blank">
            <i class="fa-brands fa-discord"></i>
          </a>

          <a href="https://www.instagram.com/ajmpc/" class="social-links"
            target="_blank">
            <i class="fa-brands fa-instagram"></i>
          </a>

          <a href="
            https://twitter.com/ajmpc24?t=uL9GWuxKy5qwwfiNNs5exA&s=08"
            class="social-links" target="_blank">
            <i class="fa-brands fa-square-twitter"></i>
          </a>
        </div>

      </div>

      <div class="col-lg-6 col-12">
        <div class="contact-form">
          <h2 class="mb-4">¿Te interesa que trabajemos juntos? Contactame!</h2>
          <form action="" method="get">
            <div class="row">
              <div class="col-lg-6 col-12">
                <input type="text" class="form-control" name="name"
                  placeholder="Your Name" id="name">
              </div>

              <div class="col-lg-6 col-12">
                <input type="email" class="form-control" name="email"
                  placeholder="Email" id="email">
              </div>

              <div class="col-12">
                <textarea name="message" rows="6" class="form-control"
                  id="message" placeholder="Message"></textarea>
              </div>

              <div class="ml-lg-auto col-lg-5 col-12">
                <input type="submit" class="form-control submit-btn"
                  value="Send Button">
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>