
<!-- Experiencias -->
<section class="resume py-5 d-lg-flex justify-content-center
  align-items-center" id="resume">
  <div class="container">
    <div class="row">

      <!-- Experiencia Laboral -->
      <div class="col-lg-6 col-12">
        <h2 class="mb-4">Experiencia Laboral</h2>

        <div class="timeline">
          <li *ngFor="let trabajo of companyList">
            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>{{trabajo.yearCo}}</span>
              </div>
              <div class="timeline-info">
                <h3><span>{{trabajo.position}}</span><br>
                  <small>{{trabajo.name}}</small></h3>
                <p>{{trabajo.description}}</p>
              </div>
            </div>

            <!-- <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2018</span>
            </div>
            <div class="timeline-info">
              <h3><span>Vendedor TDC Día Market</span><br>
                <small>SNW marketing</small></h3>
              <p>Fusce rutrum augue id orci rhoncus molestie. Nunc auctor
                dignissim lacus vel iaculis.</p>
            </div>
          </div>

          <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2017</span>
            </div>
            <div class="timeline-info">
              <h3>
                <span>Supervisor De Ventas</span><br>
                <small>Tiendas DAKA, C.A.</small></h3>
              <p>Supervision de personal.
                Metricas.
                Soporte técnico pc, impresoras, teléfonos, y digital.
                Actualización de software, drivers y backup de
                teléfonos, tablets, Laptops y PCs.</p>
            </div>
          </div>

          <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2016</span>
            </div>
            <div class="timeline-info">
              <h3><span>Supervisor De Ventas</span><br>
                <small>Pita Comercializadora, C.A.</small></h3>
              <p>Supervision de personal.
                Metricas.</p>
            </div>
          </div>

          <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2015</span>
            </div>
            <div class="timeline-info">
              <h3><span>Ejecutivo De Ventas</span><br>
                <small>Printer Tape, C.A.</small></h3>
              <p>
                Soporte técnico de impresoras, fotocopiadoras y
                cartuchos de tinta
                y tóner.</p>
            </div>
          </div>

          <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2014</span>
            </div>
            <div class="timeline-info">
              <h3><span>Data Entry</span><br>
                <small>Todo Digital, C.A.</small></h3>
              <p>Proyecto Diario Noti-tarde.</p>
            </div>
          </div>

          <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2012</span>
            </div>
            <div class="timeline-info">
              <h3>
                <span>Asistente Operativo De Banca Privada</span><br>
                <small>Banesco Banco Universal.</small>
              </h3>
              <p>Asistente Operativo De Banca Privada(3,5 Años) <br>
                Promotor Financiero(3 Años) <br>
                Chequerista De Oficina(2 Años)
              </p>
            </div>
          </div> -->
          </li>
        </div>
      </div>

      <!-- Experiencia Academica -->
      <div class="col-lg-6 col-12">
        <h2 class="mb-4 mobile-mt-2">Experiencia Academica </h2>

        <div class="timeline">
          <li *ngFor="let educacion of educationList">
            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>{{educacion.year}}</span>
              </div>
              <div class="timeline-info">
                <h3><span>{{educacion.title}}</span><br>
                  <small>{{educacion.institute}}</small></h3>
                <p>{{educacion.description}}</p>
              </div>
            </div>
          </li>
          <!-- <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2006</span>
            </div>
            <div class="timeline-info">
              <h3><span>Tecnico Superior En Informatica</span><small>
                  I.U.T.E.P.A.L </small></h3>
              <p>4 materias por aprobar <br>
                Sin culminar por la situacion economica del pais.</p>
            </div>
          </div>

          <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2001</span>
            </div>
            <div class="timeline-info">
              <h3><span> Bachiller En Informática </span>
                <small> Liceo “Dr. José María Gil” </small></h3>
              <p>
                Conocimientos básicos para incursionar en un puesto relacionado
                a la informática.
              </p>
            </div>
          </div> -->
        </div>
      </div>

    </div>
  </div>
</section>